.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  line-height: 50px;
  color: white;
}

h1 {
  margin: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Content {
  padding: 15px;
  display: flex;
}

.Table {
  flex: 1;
  line-height: 50px;
}

.Button {
  width: 150px;
  height: 50px;
  margin-left: 15px;
}
